.container {
  color: black;
  background-color: white;
  padding: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  border: none;
  border-radius: 10;
}

.form {
  padding: auto;
}

.label {
  padding: 5px;
}

.subject {
  padding: 5px;
  width: 500px;
}

.content {
  padding: 5px;
  width: 500px;
  height: 300px;
}

.select {
  padding: 5px;
}
