.navBar {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.navBar > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
}

.navBar > span > span {
  /* background-color: black; */
  color: black;
  border: 0px none;
  border-radius: 10%;
  padding: 5px;
}

.logout {
  border: 0px none;
  height: 20px;
}

.rightBtn {
  margin-left: auto;
}
