.navBar {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.navBar > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
}

.navBar > span > span {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 13%;
  padding: 5px;
}

.rightBtn {
  margin-left: auto;
}
