.navBar {
  display: flex;
  gap: 5px;

  justify-content: space-between;
  align-items: center;

  background-color: white;
}

.rightBtn {
  margin-left: auto;

  display: flex;
  gap: 5px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link > div {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.link > div:hover {
  border: 2px solid rgb(255, 0, 183);
  box-shadow: 0 0 10px rgb(255, 0, 183), 0 0 20px rgb(255, 0, 183),
    0 0 30px rgb(255, 0, 183), 0 0 40px rgb(255, 0, 183);
}

.logout {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 7px;
  border-radius: 5px;
  margin: 2px;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}
