.login {
  display: grid;
  justify-content: center;
  align-items: center;
}

.login > h1 {
  text-align: center;
}

.signInForm {
  display: grid;
  justify-content: center;
  align-items: center;
}

.loginInput {
  color: black;
  background-color: whitesmoke;
  padding: 7px;
  margin: 5px 0 5px 0;
  width: 250px;
  border-radius: 5px;
}

.logInBtn {
  border: 1px none;
  border-radius: 5px;
  background-color: white;
  color: gray;
  width: auto;

  padding: 10px;
  margin: 5px auto;
  cursor: pointer;
}

.btns {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
  color: gray;
  width: auto;

  padding: 10px;
  margin: 5px auto;
  text-decoration: none;
  text-align: center;
  font-size: small;
  transition: 0.2s;
}

.btn:hover {
  border: 2px solid yellowgreen;
  box-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen, 0 0 30px yellowgreen,
    0 0 40px yellowgreen;
}
